<div *ngIf="!!model">
	<hr />
	<form class="form" (ngSubmit)="save()" #theForm="ngForm">
		<div class="form-group" [class.invalid]="!txtName.valid">
			<label for="txtName">Uygulama Adı : </label>
			<input id="txtName" name="applicationName" #txtName="ngModel" [(ngModel)]="model.applicationName" required minlength="8" />
			<p *ngIf="!!txtName.errors && txtName.errors.minlength">8 Karakter Girmelisin</p>
			<p *ngIf="!!txtName.errors && txtName.errors.required">Bir Değer Girmelisin</p>
		</div>
		<div class="form-group">
			<label for="txtKey">Anahtar : </label>
			<input id="txtKey" name="name" [(ngModel)]="model.name" required />
		</div>
		<div class="form-group">
			<label for="txtValue">Değer : </label>
			<input id="txtValue" name="value" [(ngModel)]="model.value" required />
		</div>
		<div class="form-group">
			<label for="selType">Tür : </label>
			<select id="selType" name="type" [(ngModel)]="model.type">
				<option value="STRING">Metin İçerik</option>
				<option value="NUMBER">Sayı</option>
				<option value="DATE">Tarih</option>
			</select>
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-default" (click)="cancel()">İptal</button>
			<button type="submit" class="btn btn-primary" [disabled]="!theForm.valid">Kaydet</button>
		</div>
	</form>
</div>