<div *ngIf="!!model">
	<form class="form">
		<div class="form-group">
			<label for="txtName">Uygulama Adı : </label>
			<input id="txtName" name="name" value="{{ model.name }}" />
		</div>
		<div class="form-group">
			<label for="txtKey">Anahtar : </label>
			<input id="txtKey" name="key" value="{{ model.key }}" />
		</div>
		<div class="form-group">
			<label for="txtValue">Değer : </label>
			<input id="txtValue" name="value" value="{{ model.value }}" />
		</div>
		<div class="form-group">
			<label for="txtType">Tür : </label>
			<input id="txtType" name="type" value="{{ model.type }}" />
		</div>
	</form>
</div>