<div>
	<div>
		<table *ngIf="serviceConfigList.length > 0" class="table table-hover">
			<thead>
				<tr>
					<th>Güncelle</th>
					<th>Uygulama Adı</th>
					<th>Anahtar</th>
					<th>Değer</th>
					<th>Tür</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let config of serviceConfigList">
					<td><a routerLink="/view">Güncelle</a></td>
					<td>{{ config.applicationName | lowercase }}</td>
					<td>{{ config.name | case:'upper' }}</td>
					<td>{{ config.value }}</td>
					<td>{{ config.type | case }}</td>
				</tr>
			</tbody>
		</table>
		<p *ngIf="serviceConfigList.length == 0">Kayıt Bulunmamaktadır</p>
	</div>
	<hr />
	<div class="date">{{ currentDate | date:'dd.MM.yyyy HH:mm:ss' }}</div>
</div>